*{
    margin: 0;
    padding: 0; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    } 
    
    :root {
        --Cyan:rgb(1, 167, 167); 
        --gray: gray;
    } 
    
/* HEADER STYLES */ 
header   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--Cyan); 
    justify-content:space-between ; 
    align-items: center; 
    } 

/* H1, H2, H3, H4 STYLES AND SIZE */

h1{
    background-color: var(--gray);
    margin: 0; 
} 

h2{
    padding: 10px; 
    margin: 0; 
}

h3{ 
    color: black;  
    text-decoration: underline;
}

h4 {
    display: inline-flex; 
} 

h4 :hover{  
    background-color: var(--gray);
}

/* P STYLE */

p{ 
   margin: 1%;
}

/* NAV STYLES AND HOVER */

nav{
    display: flex inline;
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 2%; 
    justify-content:center; 
    font-style: normal; 
}

nav :hover {
   background-color: var(--gray); 
   background-size: 10px;
}   

/* SELFIE IMG STYLE AND SIZE */

.Selfie-Avatar {
    width: 20%;
    margin: 0px 40%;
    border: 5px solid var(--gray);
    box-shadow: 5px 10px #888888;
    display: flex; 
    flex-direction: column;
    align-items: stretch; 
    justify-content: center; 
    position: relative;
} 

/* A STYLE AND SIZE */

a{ 
    display: flex inline;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 2px 10px; 
    color: black; 
    text-decoration: none;
} 


/* IMG STYLE AND SIZE */

.Landing-Page ::after {
    cursor: pointer;
}

.Landing-Page {
    width: 50%;
    margin: 40px auto;
    border: 5px solid var(--gray);
    box-shadow: 5px 10px var(--gray);
    display: flex; 
    flex-direction: column;
    align-items: stretch; 
    justify-content: center;
    position: relative; 
    color: black;
    }

/* Will BE REPLACED WITH NEW PROJECTS */
.Horiseon {
    width: 25%;
    margin: 0px 25%;
    border: 5px solid var(--gray);
    box-shadow: 5px 10px var(--gray);
    display: flex; 
    flex-direction: column;
    align-items: stretch; 
    justify-content: center; 
    position: relative;
} 

/* CONTACT STYLE AND SIZE */ 

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    }  

/* DIV STYLE AND SIZE */

div :hover {
    background-color:var(--gray);
    background-size: 10px; 
    display: flex;
}

/* FOOTER STYLE AND SIZE */

footer{
    background-color: var(--Cyan);
    padding: 1%; 
    text-align: center;
}  

/* TEXT ALIGN */
.text-right {
    text-align: right;
}  

.text-center {
    text-align: center;
}





